body {
    background-color: #050505;
}
/*background-attachment: fixed; should be used to make a background-image stay consistent for the entire page, without this it will make a new background for each container*/

.largeText {
    color: white;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: 48px;
}

.mediumText {
    color: white;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: 36px;
}

.smallText {
    color: white;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
}

.mainContainer {
    width: 60%;
    margin: auto;
    padding-top: 15%;
}

.divLine {
    position: relative;
    margin: 20px 0;
    content: "";
    top: 50%; /* Position the line in the middle vertically */
    left: 0;
    width: 100%;
    border-top: 1px solid white; /* Line color and style */
}

.navBarContainer {
    margin: auto;
    width:100%;
    height: 10%;
    display: inline;
}

.logo {
    width: 100px;
}
/*need to look into more positioning details for the logo*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    float: right;
    padding: 8px;
    padding-top: 16px;
}

li a {
    color: #f9f9f9;
    text-align: right;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    padding: auto;
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
}
